<% use Glayu.EEx %>
<%= partial "head" %>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <%= @page.content %>
        </div>
        <div class="col-md-3">
            <%= partial "lateral-menu" %>
        </div>
    </div>
</div>